<template>
    <div class="container">
        <h1>Добавление проекта</h1>

        <div>
            <router-link class="btn btn-success" :to="'/projects'">Back</router-link>
        </div>
        <br>
        <br>

        <div class="card">
            <div class="card-header">
                Создание проекта
            </div>
            <div class="card-body">
                <form @submit.prevent="createProject">
                    <div class="form-group">
                        <label for="name_project">Название проекта</label>
                        <input type="text" v-model="form.slug" class="form-control" id="name_project">
                    </div>

                    <div class="form-group">
                        <label for="description_project">Описание проекта</label>
                        <input type="text" v-model="form.description" class="form-control" id="description_project">
                    </div>

                    <button type="submit" class="btn btn-primary">Создать проект</button>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "AddProject",

        data(){
            return {
                form: {},
            }
        },

        methods: {
            createProject(){
                this.axios
                    .post('http://api.task-manager.loc/api/project', this.form)
                    .then( () => {
                        this.$router.push('/projects');
                    })
                    .catch( () => {
                            console.log(0);
                        },
                    );
            }
        },
    }
</script>

<style scoped>

</style>
