<template>
    <div class="container">
        <h1>Edit Project</h1>

        <div class="card">
            <div class="card-body">

                <h4 class="card-title ">Редактирование проекта</h4>

                <form class="forms-sample" @submit.prevent="saveForm()">

                    <div class="form-group" >
                        <label for="">Название проекта</label>
                        <input class="form-control" placeholder="Project" v-model="form.slug">
                    </div>

                    <div class="form-group" >
                        <label for="">Описание проекта</label>
                        <input class="form-control" placeholder="Описание проекта" v-model="form.description">
                    </div>

                    <button type="submit" class="btn btn-success mr-2">Сохранить</button>

                    <router-link :to="{name: 'projects'}" class="btn btn-primary mr-2">Cancel</router-link>

                </form>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProjectEdit",

        data() {
            return {
                form: {},
            }
        },

        methods: {
            saveForm() {
                this.axios
                    .post('http://api.task-manager.loc/api/project/edit', {
                        headers: {
                            'Authorization': `Bearer ${this.$store.getters.TOKEN}`,
                            'Content-Type': null,
                        },
                        project: this.form,
                    })
                    .then( () => {
                        this.$router.push('/projects');
                });
            },
            getProject(id){
                this.axios
                    .post('http://api.task-manager.loc/api/project/' + id )
                    .then( (res) => {
                        this.form = res.data[0];
                    });
            }
        },

        mounted() {
            this.getProject(this.$route.params.id);
        }
    }
</script>

<style scoped>

</style>
