<template>
    <div class="container">
        <div class="card">

            <div class="card-body">
                <h1>Проекты</h1>

                <router-link :to="{name: 'create-project'}" class="btn btn-info">Добавить проект</router-link>
                <br>
                <br>

                <v-server-table class="table" :url="url" :columns="columns" :options="options" ref="table">
                    <div class="table-actions" slot="actions" slot-scope="props" >
                        <router-link :to="{name: 'project-edit', params: {id: props.row.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></router-link>
                        <a href="javascript:;" style="color:red" @click="deleteProject(props.row.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </v-server-table>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "ProjectAll",

        data(){
            return {
                columns: [
                    'id',
                    'slug',
                    'description',
                    'created_at',
                    'updated_at',
                    'actions',
                ],
                options: {
                    headings: {
                        id: 'id',
                        name: 'Название проекта',
                        description: 'Описание проекта',
                        created_at: 'Время создания',
                        updated_at: 'Время обновления',
                        actions: 'действия',
                    },
                    sortIcon: { base:'fa', up:'fa-sort-asc', down:'fa-sort-desc', is:'fa-sort' },
                    filterable: false,
                    skin: 'table table-striped table-hover',
                    params: {
                        operator_id: 0,
                        project_id: [],
                        date_from: null,
                        date_to: null,
                    },
                },
                url: 'http://api.task-manager.loc/api/project',
            }
        },

        methods: {
            deleteProject(id){
                this.$swal.fire({
                    title: 'Вы хотите удалить проект?',
                    text: "При подтверждении, проект будет удален!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Да, я хочу удалить!'
                }).then((result) => {
                    if (result.value) {
                        this.axios
                            .delete('http://api.task-manager.loc/api/project/' + id )
                            .then( () => {
                                this.$toasted.success('Проект успешно удален!');
                                this.$refs.table.refresh();
                            });
                        this.$swal.fire(
                            'Удалено!',
                            'Проект успешно удален',
                            'success'
                        )
                    }
                })
            }
        },
    }
</script>

<style scoped>

</style>
