<template>
    <div class="container">

        <div class="my_card">
            <div v-for="project in this.form.projects" :key="project.id" class="card" style="width: 18rem;">
                <img src="../../assets/img/1.jpg" class="card-img-top rounded-circle">
                <div class="card-body">
                    <h5 class="card-title">{{project.slug}}</h5>
                    <p class="card-text">{{project.description}}</p>
                    <router-link :to="'/task-board/' + project.id" class="btn btn-primary">Войти в проект</router-link>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "CardProjects",

        data(){
            return {
                form: {
                    projects: {},
                },
                url: 'http://api.task-manager.loc/api/project',
            }
        },

        methods: {
            getProjects(){
                this.axios
                    .get('http://api.task-manager.loc/api/project',)
                    .then(response => {
                        console.log(response.data.data);
                        this.form.projects = response.data.data;
                    })
                    .catch( () => {
                            console.log(0);
                        },
                    );
            }
        },

        mounted() {
            this.getProjects();
        },

    }
</script>

<style scoped>
    .my_card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .my_card .card {
        margin: 10px;
    }

    .my_card img {
        width: 120px;
        height: 108px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .card-body {
        height: 250px;
    }

</style>
