<template>
    <div>
        <h1>Пользователи</h1>
        <v-server-table class="table" :url="url" :columns="columns" :options="options" ref="table">
            <div class="table-actions" slot="actions" slot-scope="props" >
                <router-link :to="{name: 'user-edit', params: {id: props.row.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></router-link>
                <a href="javascript:;" style="color:red" @click="deleteUser(props.row.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </div>
        </v-server-table>
    </div>
</template>

<script>
    export default {
        name: "Index",

        data(){
            return {
                columns: [
                    'id',
                    'name',
                    'email',
                    'created_at',
                    'updated_at',
                    'actions',
                ],
                options: {
                    headings: {
                        id: 'id',
                        name: 'Имя',
                        email: 'Email',
                        created_at: 'Время создания',
                        updated_at: 'Время обновления',
                        actions: 'действия',
                    },
                    sortIcon: { base:'fa', up:'fa-sort-asc', down:'fa-sort-desc', is:'fa-sort' },
                    filterable: false,
                    skin: 'table table-striped table-hover',
                    params: {
                        operator_id: 0,
                        project_id: [],
                        date_from: null,
                        date_to: null,
                    },
                },
                url: 'http://api.task-manager.loc/api/users',
            }
        },

        methods: {
            deleteUser(id){
                this.$swal.fire({
                    title: 'Вы хотите удалить пользователя?',
                    text: "При подтверждении, пользователь будет удален!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Да, я хочу удалить!'
                }).then((result) => {
                    if (result.value) {
                        this.axios
                            .delete('http://api.task-manager.loc/api/users/' + id )
                            .then( () => {
                                this.$toasted.success('Пользователь успешно удален!');
                                this.$refs.table.refresh();
                            });
                        this.$swal.fire(
                            'Удалено!',
                            'Пользователь успешно удален',
                            'success'
                        )
                    }
                })
            }
        },
    }
</script>

<style scoped>

</style>
