<template>
    <div class="container">
        <h1>Edit User</h1>
        user {{this.$route.params.id}}

        <div class="card">
            <div class="card-body">

                <h4 class="card-title ">Создание пользователя</h4>

                <form class="forms-sample" @submit.prevent="saveForm()">

                    <div class="form-group" >
                        <label for="">Username</label>
                        <input class="form-control" placeholder="Username" v-model="form.name">
                    </div>

                    <div class="form-group" >
                        <label for="">Email</label>
                        <input class="form-control" placeholder="Username" v-model="form.email">
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>

                    <router-link :to="{name: 'users'}" class="btn btn-light">Cancel</router-link>

                </form>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "UserEdit",

        data() {
            return {
                form: {},
            }
        },

        methods: {
            saveForm() {
                console.log(this.form);
                this.axios
                    .post('http://api.task-manager.loc/api/users', {
                        headers: {
                            'Authorization': `Bearer ${this.$store.getters.TOKEN}`,
                            'Content-Type': null,
                        },
                        user: this.form,
                    })
                    .then( (res) => {
                        console.log(res.data);
                        this.$router.push('/users');
                });
            },
            getUser(id){
                console.log('info for user ' + id);
                this.axios
                    .post('http://api.task-manager.loc/api/users/' + id )
                    .then( (res) => {
                        console.log(res.data);
                        this.form = res.data[0];
                });
            }
        },

        mounted() {
            this.getUser(this.$route.params.id);
        }
    }
</script>

<style scoped>

</style>