<template>
    <div class="container">
        <h1>Добавление разрешения</h1>

        <div>
            <router-link :to="'/permissions'" class="btn btn-success">Back</router-link>
        </div>
        <br>
        <br>

        <div class="card">
            <div class="card-header">
                Создание разрешения
            </div>
            <div class="card-body">
                <form @submit.prevent="createPermission">
                    <div class="form-group">
                        <label for="permission_name">Название разрешения</label>
                        <input type="text" v-model="form.permission_name" class="form-control" id="permission_name">
                    </div>

                    <button type="submit" class="btn btn-primary">Создать роль</button>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "AddPermission",

        data(){
            return {
                form: {
                    permission_name: '',
                },
            }
        },

        methods: {
            createPermission(){
                console.log(this.form);
                this.axios
                .post('http://api.task-manager.loc/api/permission/create-permission', this.form)
                .then(response => {
                    this.$router.push('/permissions');
                    console.log(response);
                })
                .catch( () => {
                        console.log(0);
                    },
                );
            }
        },
    }
</script>

<style scoped>

</style>
