<template>
    <div>
        <h1>Роли</h1>
            <v-server-table class="table" :url="url" :columns="columns" :options="options" ref="table">
                <div class="table-actions" slot="actions" slot-scope="props" >
                    <router-link :to="{name: 'role', params: {id: props.row.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></router-link>
                    <a href="javascript:;" style="color:red" @click="deleteUser(props.row.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
            </v-server-table>
    </div>
</template>

<script>
    export default {
        name: "IndexRole",

        data(){
            return {
                columns: [
                    'id',
                    'name',
                    'guard_name',
                    'created_at',
                    'updated_at',
                    'actions',
                ],
                options: {
                    headings: {
                        id: 'id',
                        name: 'Роль',
                        guard_name: 'Гвард',
                        created_at: 'Время создания',
                        updated_at: 'Время обновления',
                        actions: 'действия',
                    },
                    sortIcon: { base:'fa', up:'fa-sort-asc', down:'fa-sort-desc', is:'fa-sort' },
                    filterable: false,
                    skin: 'table table-striped table-hover',
                    params: {
                        operator_id: 0,
                        project_id: [],
                        date_from: null,
                        date_to: null,
                    },
                },
                url: 'http://api.task-manager.loc/api/permission/get-roles',
            }
        },

        methods: {
            deleteUser(id){
                console.log('delete role!', id)
            }
        },
    }
</script>

<style scoped>

</style>
