<template>
    <div class="container">
        <h1>Разрешения</h1>

        <br>
        <br>
        <div>
            <router-link :to="'/login'" class="btn btn-success">Back</router-link>
            <router-link :to="'/add-permission'" class="btn badge-info">Add permission</router-link>
        </div>
        <br>
        <br>

        <v-server-table class="table" :url="url" :columns="columns" :options="options" ref="table">
            <div class="table-actions" slot="actions" slot-scope="props" >
                <router-link :to="{name: 'login', params: {id: props.row.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></router-link>
                <a href="javascript:;" style="color:red" @click="deleteUser(props.row.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </div>
        </v-server-table>
    </div>
</template>

<script>
    export default {
        name: "Permissions",

        data(){
            return {
                columns: [
                    'id',
                    'name',
                    'guard_name',
                    'created_at',
                    'updated_at',
                    'actions',
                ],
                options: {
                    headings: {
                        id: 'id',
                        name: 'Роль',
                        guard_name: 'Гвард',
                        created_at: 'Время создания',
                        updated_at: 'Время обновления',
                        actions: 'действия',
                    },
                    sortIcon: { base:'fa', up:'fa-sort-asc', down:'fa-sort-desc', is:'fa-sort' },
                    filterable: false,
                    skin: 'table table-striped table-hover',
                    params: {
                        operator_id: 0,
                        project_id: [],
                        date_from: null,
                        date_to: null,
                    },
                },
                url: 'http://api.task-manager.loc/api/permission/get-permissions',
            }
        },

        methods: {
            deleteUser(id){

                console.log(id);

                this.$swal.fire({
                    title: 'Вы хотите удалить роль?',
                    text: "При подтверждении, роль будет удалена!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Да, я хочу удалить!'
                }).then((result) => {
                    if (result.value) {
                        this.axios
                        .delete('http://api.task-manager.loc/api/permission/remove-permissions/' + id )
                        .then(response => {
                            this.$toasted.success('Роль успешно удалена!');
                            this.$refs.table.refresh();
                            console.log(response);
                        });
                        this.$swal.fire(
                            'Удалено!',
                            'Роль успешно удалена',
                            'success'
                        )
                    }
                })
            }
        },
    }
</script>

<style scoped>

</style>
