<template>
  <div id="app">

    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/me" v-if="this.$store.getters.TOKEN">Me</router-link> |
      <router-link to="/users" v-if="this.$store.getters.TOKEN">Users</router-link> |
      <router-link to="/role" v-if="this.$store.getters.TOKEN">Roles</router-link> |
      <router-link to="/permissions" v-if="this.$store.getters.TOKEN">Permissions</router-link> |
      <router-link to="/projects" v-if="this.$store.getters.TOKEN">Projects</router-link> |
      <router-link to="/projects-cards" v-if="this.$store.getters.TOKEN">Projects Cards</router-link> |
      <router-link to="/login">Auth</router-link>
    </div>

    <div class="container">
      <div class="content">
        <transition name="fade" mode="out-in">
          <router-view></router-view>
        </transition>
      </div>
    </div>

  </div>
</template>

<style lang="scss">
  .fade-enter-active, .fade-leave-active {
    /*transition: opacity .3s;*/
    transition: all .3s ease;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
