<template>
    <div>
        <div id="content" class="p-4 p-md-5">
            <h1>Auth page</h1>
            <form @submit.prevent="login">
                <input type="text" v-model="form.email" name="email" placeholder="email"><br><br>
                <input type="text" v-model="form.password" name="password" placeholder="password"><br><br>
                <a href="#"><router-link :to="'forgot'">Forgot password</router-link></a><br/>
                <a href="#"><router-link :to="'registration'">Registration</router-link></a><br/>
                <button>login</button>
            </form>
        </div>
    </div>

</template>

<script>
    export default {
        name: "AuthIndex",
        data(){
            return {
                form: {
                    email: '',
                    password: '',
                },
            }
        },

        methods: {
            login(){
                this.axios
                    .post('http://api.task-manager.loc/api/sanctum/token', this.form)
                    .then(response => {
                        this.$store.dispatch('SET_TOKEN', response.data.token);
                        // this.$router.push('/');
                        window.location.href = '/';
                        console.log(response);
                    })
                    .catch( () => {
                            console.log(0);
                    },
                );
            }
        },

        mounted() {
            //
            console.log(123);
        }
    }
</script>

<style scoped>

</style>
