<template>
    <div>
        <div id="content" class="p-4 p-md-5">
            <h1>Forgot password</h1>
            <form @submit.prevent="forgot">
                <input type="text" v-model="form.email" name="email" placeholder="email"><br><br>
                <a href="#"><router-link :to="'/login'">Back</router-link></a><br/>
                <button>login</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ForgotPassword",

        data() {
            return {
                form: {},
            }
        },

        methods: {
            forgot() {
                this.axios
                .post('http://api.task-manager.loc/password/email', {
                    headers: {
                        'Authorization': `Bearer ${this.$store.getters.TOKEN}`,
                        'Content-Type': null,
                    },
                    email: this.form.email,
                })
                .then( (res) => {
                    console.log(res.data);
                });
            },
        },
    }
</script>

<style scoped>

</style>
