<template>
    <div>
        <h1>Testing auth page</h1>
        <button @click="login">Me</button>
        <br/><br/>

        <button @click="logout">logout</button>
        <br/><br/>

        <router-link :to="{ name: 'Home'}">Назад</router-link>
    </div>
</template>

<script>
    export default {
        name: "MeAuth",

        data(){
            return {}
        },

        methods: {
            login(){

                this.axios
                .get('http://api.task-manager.loc/api/sanctum/me', {
                    headers: {
                        'Authorization': `Bearer ${this.$store.getters.TOKEN}`,
                        'Content-Type': null
                    }
                })
                .then( (res) => {
                    console.log(res.data);
                });
            },

            logout() {
                // console.log(this.$store.getters.TOKEN);
                this.axios
                .post('http://api.task-manager.loc/api/sanctum/logout', {
                    headers: {
                        'Authorization': `Bearer ${this.$store.getters.TOKEN}`,
                        'Content-Type': null,
                        'Accept': 'application/json',
                    }
                })
                .then( (res) => {
                    console.log(res.data);
                });
                localStorage.removeItem('token');
                window.location.href = '/';
                // this.$router.push('/');
            },
        },

        mounted() {
            //
        }

    }
</script>

<style scoped>

</style>
