<template>
    <div>
        <div id="content" class="p-4 p-md-5">
            <h1>Registration page</h1>
            <form @submit.prevent="register">
                <input type="text" v-model="form.name" name="email" placeholder="Name"><br><br>
                <input type="text" v-model="form.email" name="email" placeholder="Email"><br><br>
                <input type="text" v-model="form.password" name="email" placeholder="Password"><br><br>
                <input type="text" v-model="form.password_confirmation" name="email" placeholder="Password confirmation"><br><br>
                <a href="#"><router-link :to="'/login'">Back</router-link></a><br/>
                <button>login</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Registration",

        data(){
            return {
                form: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                },
            }
        },

        methods: {
            register(){
                this.axios
                .post('http://api.task-manager.loc/register', this.form)
                .then(response => {
                    // window.location.href = '/auth';
                    console.log(response);
                })
                .catch( () => {
                        console.log(0);
                    },
                );
            }
        },

    }
</script>

<style scoped>

</style>
