<template>
    <div>
        <div id="content" class="p-4 p-md-5">
            <h1>Reset password</h1>
            <form @submit.prevent="reset">
                <input type="hidden" v-model="form.token" name="email" placeholder="email"><br><br>
                <input type="text" v-model="form.email" name="email" placeholder="email"><br><br>
                <input type="text" v-model="form.password" name="password" placeholder="пароль"><br><br>
                <input type="text" v-model="form.password_confirmation" name="password_confirmation" placeholder="подтверждение пароля"><br><br>
                <a href="#"><router-link :to="'/'">Back</router-link></a><br/>
                <button>login</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ResetPassword",

        data() {
            return {
                form: {
                    token: this.$route.params.token,
                },
            }
        },

        methods: {
            reset() {
                this.axios
                .post('http://api.task-manager.loc/password/reset', {
                    token: this.$route.params.token,
                    email: this.form.email,
                    password: this.form.password,
                    password_confirmation: this.form.password_confirmation,
                })
                .then( (res) => {
                    console.log(res.data);
                });
            },
        },
    }
</script>

<style scoped>

</style>
